REDIS_ADDR=localhost:6379
# might not need username and password if you use redis via docker
# dockerized redis does not require username and password by default
REDIS_USERNAME= 
REDIS_PASSWORD=
REDIS_DB=0
